<?xml version="1.0" encoding="UTF-8"?>
<!-- 이 문서는 mybatis에서 처리할 SQL문을 처리하는 문서입니다... -->
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0/EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<!-- <mapper>태그의 namespace속성은 Java소스에서 실행할 SQL문을 호출할 때 같이 사용되는 이름이다. -->
<mapper namespace="member">
    
    <select id="selectAll" resultType="memVo">
    	select * from mymember
    </select>

	<select id="selectDetail" resultType="memVo" parameterType="String">
		select * from mymember where mem_id = #{mem_id}
	</select>
	
	<insert id = "insertMember" parameterType="memVo">
		insert into mymember(mem_id, mem_pass, mem_name, mem_tel, mem_addr, mem_photo)
		values(#{mem_id}, #{mem_pass}, #{mem_name}, #{mem_tel}, #{mem_addr}, #{mem_photo})
	</insert>
	
	<!-- 업데이트 부분 -->
	
	<delete id="deleteMember" parameterType="String">
		delete from mymember where MEM_ID = #{mem_id}
	</delete>
	
	<select id="idcheck" parameterType="String" resultType="String">
		select mem_id from mymember where mem_id =#{mem_id}
	</select>
	
	
	<update id="updatemember" parameterType="memVo">
	  update member
	  <set>
	    <if test="mem_pass != null">mem_pass = #{mem_pass},</if>
	    <if test="mem_name != null">mem_name = #{mem_name},</if>
	    <if test="mem_tel != null">mem_tel = #{mem_tel},</if>
	    <if test="mem_addr != null">mem_addr = #{mem_addr},</if>
	    <if test="mem_photo != null">mem_photo = #{mem_photo},</if>
	  </set>
	  where mem_id = #{mem_id}
	</update>
	
	
</mapper>









