<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0/EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="member">
	<select id="searchId" parameterType="memberVo" resultType="String">
		select MEM_ID from MEMBERS 
    	 where MEM_NAME = #{mem_name} and MEM_MAIL = #{mem_mail}
	</select>
	
	<select id="memberIdCheck" parameterType="String" resultType="int">
		select count(*) cnt from MEMBERS where MEM_ID = #{MEM_ID}
	</select>
	
	<insert id="insertMember" parameterType="memberVo">
		insert into MEMBERS (MEM_ID, MEM_NAME, MEM_PASS, MEM_MAIL, MEM_TEL, MEM_NICK, MEM_BIR)
		values(#{mem_id}, #{mem_name}, #{mem_pass}, #{mem_mail}, #{mem_tel}, #{mem_nick}, #{mem_bir})
	</insert>
	
	<select id="searchPass" parameterType="memberVo" resultType="String">
		select MEM_PASS from MEMBERS 
    	 where MEM_ID = #{mem_id} and MEM_NAME = #{mem_name} and MEM_MAIL = #{mem_mail}
	</select>
	
	<update id="newPassSet" parameterType="memberVo">
		update MEMBERS set MEM_PASS = #{mem_pass} where MEM_ID = #{mem_id}
	</update>
	
	<select id="loginCheck" parameterType="memberVo" resultType="memberVo">
		select * from MEMBERS where mem_id = #{mem_id} and mem_pass = #{mem_pass}
	</select>
</mapper>